<head>
    <script src="script.js"></script>
</head>
<p>

    <label for="quantity">Scrieti numarul de bilete(intre 1 si 5):</label>
    <input type="number" id="total" name="total" min="1" max="5">
</p>
<p><label for="quantity">Dintre care(intre 0 si 5):</label>
    <input type="number" id="tribuna" name="tribuna" min="0" max="5"> tribuna, <input type="number" id="peluza"
        name="peluza" min="0" max="5"> peluza, <input type="number" id="vip" name="vip" min="0" max="5"> VIP.
</p>

    <button onclick="ticketsNumber()" id="but" type="submit">Comanda bilete</button>

