<div class="Contact">
    <h2>Contact</h2>
    <p>Pentru detalii suplimentare ne puteti contacta la:</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp Tel. (+40) 0751 345471<br>
        &nbsp;&nbsp;&nbsp;&nbsp Tel. (+40) 0751 345472<br>
        &nbsp;&nbsp;&nbsp;&nbsp Fax. (+40) 021 539 49 93<br>
        &nbsp;&nbsp;&nbsp;&nbsp Email: contact@bilete-liga1.ro</p>

    <P>Luni - Vineri intre orele 09:30 - 16:30 </P>

</div>