<head>
  <script src="script.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <h1>Rezultat sondaje</h1>

  <div id="piechart"></div>
</body>
