<h2>Detalii de livrare</h2>
<div class="livrare">
<p>
    <label for="nume_utilizator">Nume:</label>
    <input type="text" id="nume_utilizator"><br>
    <br />
    <label for="prenume">Prenume:</label>
    <input type="text" id="prenume"><br>
    <br />
    <label for="email">email:</label>
    <input type="email" id="email"><br>
    <br />
    <label for="telefon">Telefon:</label>
    <input type="telefon" id="telefon"><br>
    <br />
    <label for="localitate">Localitate:</label>
    <input type="localitate" id="localitate"><br>
    <br />
    <label for="adresa">Adresa de livrare:</label>
    <input type="adresa" id="adresa"><br>
    <br />
    <br />
            <input type="checkbox" id="acord">
            <label for="acord">Sunt de acord cu termenii si condițiile:</label><br>

            <p>
                <button onclick="SendC()"  id="comanda" type="submit">Trimite comanda</button>
                </p>
</div>