<div class="Galerie">
    <h2>Galerie</h2>
    <p>Bilet la meciul F.C. Voluntari- F.C.Dinamo </p> 
    <img src="Resurse/bilet1.jpg" alt="Bilet" height="250" width="500">
    <p>Bilet la meciul FCSB- F.C.Dinamo </p> 
    <img src="Resurse/bilet2.jpg" alt="Bilet" height="250" width="500">
    <p>Bilet la meciul Universitatea Craiova - F.C.Viitorul </p> 
    <img src="Resurse/bilet3.jpg" alt="Bilet" height="250" width="500">
</div>
