<div class="Informatii">
    <h2>Informatii utile</h2>
    <h3> Etapele pentru efectuarea unei comenzi online.</h3>
    <ol>
    <li>Accesati www.bilete-liga1.ro</li>
    <li>Selectati numarul de bilete si categoria (tribuna, peluza, vip) - click "Comanda bilete"</li>
    <li> Selectati locurile    - click "Comanda bilete"</li>
    <li>Pagina unde vizualizati nr bilete, categoria si suma comenzii - click "Continua"</li>
    <li>Completati toate campurile (nume, prenume, mail, telefon, adresa de livrare) - bifati "Am citit termenii si conditiile" - click "Trimite Comanda".</li>
    </ol>

    <p> Vi se afiseaza mesajul "Felicitari, comanda dvs. a fost inregistrata..." </p>
    <p>Biletele vor fi livrate prin intermediul FanCourier.</p>

    <h3>Metoda de plata</h3>
    <p>Plata la sosirea curierului.</p>

    <h3> Comisionari si taxe</h3>
    <p> Comisionul de procesare si rezervare: 5% din valoarea biletelor.<br>
        Taxa de transport: 9 lei (Bucuresti), 10 lei (in tara).<br>
        Taxa de transport se percepe pe comanda, indiferent de numarul biletelor achizitionate .<br> 
        Livrarea biletelor se va face prin FAN Courier.<br> 
    </p>

    <h3> Persoane cu dizabilitati</h3>
    <p>
        Persoanele cu dizabilitati sau insotitorii acestora pot sa ridice biletele cu pret 0 de la stadion.<br>
        Pentru a primi biletele trebuie sa aduca copii dupa C.I. / B.I. a persoanei cu handicap si actul doveditor al dizabilitatii respective si copie dupa C.I. / B.I. insotitor.<br><br>
        
        Programul caselor va fi anuntat prin intermediul www.bilete-liga1.ro in timp util.</p>

    <h3>Accesul copiilor pe stadion</h3>
    <p>Copiii intra pe stadion cu bilet intreg asemeni adultilor. </p>
</div>
