<div class="Lista ">
    <h2>Lista meciuri</h2>
    <h3>Runda 3 - Data: Necunoscut</h3>
  <h4>Grupa campionat</h4>
  <div class ="Campionat">
  <form method="GET" action="/bilete">
  <p>Astra Giurgiu - Gaz Metan Mediaș<button id="button" type="submit">Alege</button></p>

  <p>CFR. Cluj - FCSB <button id="button" type="submit">Alege</button></p>
  <P>Univ. Craiova - FC Botoșani <button id="button" type="submit">Alege</button></P>
</div>
  <h4>Grupa retrogradare</h4>
  <div class="Retrogradare">
  <p>Dinamo București - Dinamo București <button id="button" type="submit">Alege</button></p>
  <p>FC Viitorul - Poli Iași <button id="button" type="submit">Alege</button></p>
  <p>FC Voluntari - Academica Clinceni <button id="button" type="submit">Alege</button></p>
  <p>Sepsi Sf. Gheorghe - FC Hermannstadt <button id="button" type="submit">Alege</button></p>
</form>
</div>
</div>
